/* Fonte */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ícones */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root {
  --bg-dark: #161616;
  --footer-nav: #1D1D1D;
  --letras-dark: #FFFFFF;
  --letras-dark-2: #B5B5B5;

  --bg-light: #939393;
  --footer-nav-light: #B5B5B5;
  --letras-light: #161616;
  --letras-light-2: #3E3E3E;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-dark);
}

nav {
  height: 40px;
  background-color: var(--footer-nav);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  width: 520px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

}

nav>ul>li {
  list-style: none;
  color: var(--letras-dark-2);
  font-weight: 500;
}

nav>ul>li>a {
  text-decoration: none;
  color: var(--letras-dark-2);
}

nav>ul>li>i {
  color: var(--letras-dark-2);
  padding-right: 4px;
  font-size: 20px;
}

.nav {
  cursor: pointer;
  color: var(--letras-dark);
  font-weight: 600;
}